.main-container {
  width: 100%;
}
.sub-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-btn {
  background-image: linear-gradient(yellow, green);
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  padding: 5px 0px 5px 0px;
  font-weight: 600;
  width: 140px;
  margin-bottom: 10px;
}
.add-btn:active {
  background-image: radial-gradient(green, yellow);
}
.hr {
  width: 100%;
  margin: 5px 0px 5px 0px;
}
